#settlementReportCard {
    overflow: visible;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.resultTable{
    min-width: 700px;
}

.rowHeight {
    height: 60px;
}

.noFilesTextHeight{
    height: 250px;
}

.settlementReportsBtn{
    background-color: #346799;
    border: none;
}