@import "../../assets/css/colors";
@import "../../assets/css/dimensions";
@import '../app-frame/app-frame';
@import "../app-frame/app-header/app-header";
@import '../app-frame/app-footer/app-footer';
@import '../title-bar/title-bar';

// global styles

body {
  // font-family: 'Helvetica' !important;
  color: #000;
}

:root {
  --amplify-background-color: #ffffff !important;
}

[data-amplify-authenticator][data-variation=modal] {
  background-image: none !important;
  background: #ffffff !important;
}

[data-amplify-authenticator][data-variation=modal]:before {
  background-image: none !important;
  background: #ffffff !important;
}


.font-larger {
  font-size: $larger;
}

.text-decoration-underline {
  text-decoration: underline;
}

.font-medium {
  font-size: $medium;
}

.font-small {
  font-size: $small !important;
}

.font-smaller {
  font-size: $smaller !important;
}

.font-smallest {
  font-size: $smallest !important;
}

.font-smallest2 {
  font-size: $smallest2 !important;
}

.bg-primary {
  background-color: $color-blue !important;
}

.link {
  color: $color-blue;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.text-primary {
  color: $color-blue !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: not-allowed !important;
}

.border {
  border: 1px solid #979797 !important;
  border-radius: 6px !important;
}

.text-orange {
  color: #ff6a00 !important;
}

button:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.amplify-tabs {
  display: none !important;
}

.text-underline {
  text-decoration: underline;
}
[data-amplify-authenticator][data-variation=modal] {
  padding-top: 7vh !important;
}

#semiTransparenDiv {
	width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	/*-Lets Center the Spinner-*/
    position:fixed;
    left:0;
    right:0;
    /* top:4px; */
    bottom:0;
    
    /*Centering my shade */
    /* margin-bottom: 40px; */
    /* margin-top: 60px; */
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index:9999;
    width: 100%;
    /* display: block;  */
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#semiTransparenDiv::after {
    content:'';
    display:block;
    position:absolute;
    /* left:48%; */
    top:45%;
    width:80px;height:80px;
    border-style:solid;
    border: 5px solid white;
	  border-top-color: #346799;
    border-width: 7px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    
    /* Lets make it go round */
    animation: spin .8s linear infinite;
}

.text-capitalize {
  text-transform: capitalize;
}